
<!DOCTYPE html>
<html lang="em">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="withd=divise withd initial scale=1.0">
        <meta http-equiv="x up compotable" content="ie-edge">
        <title>MEMBERS APP</title>
        </head>
            <body>
                <form name="frmUser" method="post" action="" align="center">
                    <div class="message"><?php if($message!="") { echo $message; } ?></div>
                    <h3 align="center">Enter Login Details</h3>
                    Username:<br>
                    <input type="text" name="user_name">
                    <br>
                    Password:<br>
                    <input type="password" name="password">
                    <br><br>
                    <input type="submit" name="submit" value="Submit">
                    <input type="reset">
                </form>
                </body>
                
                </html>
        
            </body>
    
</html>
